.landingPage{
  /* text-align: center; */
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 5% 50px;
}
.landingpage-left{
  width: 60%;
  padding-top:8%;
}
.landingpage-right{
  display: flex;
  align-items: flex-end;
  width: 40%;
}
.landingpage-left > h3{
  font-size: 32px;
  margin:0;
  margin-top: 3%;
}
.landingpage-left > p{
  font-size: 22px;
  color:rgba(10, 10, 10, 0.8);
}
.landingpage-right > img{
  width: 70%;
  height: auto;
  margin-top: 35%;
  padding-left: 20%;
}
.landingpage-left > div > svg {
  margin:5% 0;
  width:75%;
  animation: svg-fill-animation 2s ease forwards 2.5s;
  margin-bottom: 2%;
}

.landingpage-left > div > svg > path:nth-child(1) {
  stroke-dasharray: 266;
  stroke-dashoffset: 266;
  animation: svg-animation 2s ease forwards;
}

.landingpage-left > div > svg > path:nth-child(2) {
  stroke-dasharray: 229;
  stroke-dashoffset: 229;
  animation: svg-animation 2s ease forwards 0.2s;
}
.landingpage-left > div > svg > path:nth-child(3) {
  stroke-dasharray: 225;
  stroke-dashoffset: 225;
  animation: svg-animation 2s ease forwards 0.3s;
}
.landingpage-left > div > svg > path:nth-child(4) {
  stroke-dasharray: 196;
  stroke-dashoffset: 196;
  animation: svg-animation 2s ease forwards 0.4s;
}
.landingpage-left > div > svg > path:nth-child(5) {
  stroke-dasharray: 116;
  stroke-dashoffset: 116;
  animation: svg-animation 2s ease forwards 0.5s;
}
.landingpage-left > div > svg > path:nth-child(6) {
  stroke-dasharray: 202;
  stroke-dashoffset: 202;
  animation: svg-animation 2s ease forwards 0.6s;
}
.landingpage-left > div > svg > path:nth-child(7) {
  stroke-dasharray: 225;
  stroke-dashoffset: 225;
  animation: svg-animation 2s ease forwards 0.7s;
}
.landingpage-left > div > svg > path:nth-child(8) {
  stroke-dasharray: 219;
  stroke-dashoffset: 219;
  animation: svg-animation 2s ease forwards 0.8s;
}
.landingpage-left > div > svg > path:nth-child(9) {
  stroke-dasharray: 225;
  stroke-dashoffset: 225;
  animation: svg-animation 2s ease forwards 0.9s;
}
.landingpage-left > div > svg > path:nth-child(10) {
  stroke-dasharray: 116;
  stroke-dashoffset: 116;
  animation: svg-animation 2s ease forwards 1.0s;
}
.landingpage-left > div > svg > path:nth-child(11) {
  stroke-dasharray: 249;
  stroke-dashoffset: 249;
  animation: svg-animation 2s ease forwards 1.1s;
}
.landingpage-left > div > svg > path:nth-child(12) {
  stroke-dasharray: 229;
  stroke-dashoffset: 229;
  animation: svg-animation 2s ease forwards 1.2s;
}
.landingpage-left > div > svg > path:nth-child(13) {
  stroke-dasharray: 225;
  stroke-dashoffset: 225;
  animation: svg-animation 2s ease forwards 1.3s;
}
.landingpage-left > div > svg > path:nth-child(14) {
  stroke-dasharray: 197;
  stroke-dashoffset: 197;
  animation: svg-animation 2s ease forwards 1.4s;
}
.landingpage-left > div > svg > path:nth-child(15) {
  stroke-dasharray: 266;
  stroke-dashoffset: 266;
  animation: svg-animation 2s ease forwards 1.5s;
}
.landingpage-left > div > svg > path:nth-child(16) {
  stroke-dasharray: 113;
  stroke-dashoffset: 113;
  animation: svg-animation 2s ease forwards 1.6s;
}
.landingpage-left > div > svg > path:nth-child(17) {
  stroke-dasharray: 197;
  stroke-dashoffset: 197;
  animation: svg-animation 2s ease forwards 1.7s;
}
.landingpage-left > div > svg > path:nth-child(18) {
  stroke-dasharray: 284;
  stroke-dashoffset: 284;
  animation: svg-animation 2s ease forwards 1.8s;
}
.landingpage-left > div > svg > path:nth-child(19) {
  stroke-dasharray: 229;
  stroke-dashoffset: 229;
  animation: svg-animation 2s ease forwards 1.9s;
}

@keyframes svg-animation {
  to{
    stroke-dashoffset: 0;
  }
}

@keyframes svg-fill-animation {
  from{
    fill: transparent;
  }
  to{
    fill: var(--secondary-color);
  }
}



@media only screen and (max-width: 1000px){
  .landingPage{
    padding-top: 2%;
  }
  .landingpage-left > div > svg {
    width:90%;
    margin-bottom: 2%;
  }
  .landingpage-left > h3{
    font-size: 26px;
  }
  .landingpage-left > p{
    font-size: 18px;
  }
  .landingpage-right > img{
    width: 80%;
  }
  
}


@media only screen and (max-width: 780px){
  .landingPage{
    text-align: center;
  }
  .landingpage-left{
    padding-top: 10%;
    width: 100%;
  }
  .landingpage-left > div > svg {
    width:70%;
    margin-bottom: 2%;
  }
  .landingpage-left > h3{
    font-size: 24px;
  }
  .landingpage-left > p{
    font-size: 20px;
  }
  .landingpage-right{
    justify-content: center;
    width: 100vw;
    
  }
  .landingpage-right > img{
    width: 60%;
    padding-left: 0;
    margin-top:5%;
  }

}


@media only screen and (max-width: 600px){
  
  .landingpage-left{
    padding-top: 10%;
  }
  .landingpage-left > div > svg {
    width:80%;
    margin-bottom: 2%;
  }
  .landingpage-left > h3{
    font-size: 20px;
  }
  .landingpage-left > p{
    font-size: 16px;
    padding: 0 20px;
  }
}
