body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --primary-color: #7510F7;
  --secondary-color: #141c3a;
  --light-color: #ffffff;
}

* {
  font-family: sans-serif;
  scroll-behavior: smooth;
}

.primary-text{
  color: var(--primary-color)
}

.btn {
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  background: transparent;
  font-size: 20px;
  padding: 20px 20px;
  font-family: sans-serif;
  color: var(--primary-color);
  transition: 0.2s all ease-in;
}
.btn:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
}

a{
  text-decoration: none;
}


@media only screen and (max-width: 1000px){
  .btn {
    font-size: 18px;
    padding: 14px 18px;
  }
}


@media only screen and (max-width: 780px){
  .btn{
    font-size: 16px;
    padding: 12px 16px;
  }

}


@media only screen and (max-width: 600px){
 .btn {
    border: 2px solid var(--primary-color);
    font-size: 14px;
    padding: 14px 12px;
  }
}
